@import "lib/reset";
@import "lib/settings";
@import "lib/mixins";
@import "lib/utilities";
@import "lib/grid";
@import "lib/typography";

$border-width: 25px;

body{
  color: #333;
  font-size: $base-font-size;
  font-family: 'Raleway', sans-serif;
  border-left: $border-width solid #fff;
  border-right: $border-width solid #fff;
  position: relative;
}

header {
  @extend .clearfix;
  backround: #fff;
  min-height: $border-width * 2.5;

  a {
    @include transition(color);
    color: $secondary-color;
    font-size: .95rem;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 65px;

    &:hover {
      @extend .blue;
    }
  }
}

.logo {
  float: left;
}

nav {
  float: right;

  a {
    margin-right: 1.5rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}


%centered{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}


.hero{
  @extend .text-center;
  @extend .is-uppercase;
  background: url(../img/hero-bg-alt.jpg) no-repeat 0 0 fixed;
  color: rgba(255,255,255, .85);
  letter-spacing: 1px;
  min-height: 475px;
  position: relative;

  .centered{
    @extend %centered;
    height: 40%;
  }

  h1, h2{
    color: #fff;
    letter-spacing: .15em;
  }

  hr{
    margin: em-font(15px) auto em-font(30px);
    max-width: 645px;
  }
}

.introduction-container{
  background: #eee;
}
.introduction{
  margin: 0 auto;
  line-height: 3rem;
  font-size: 1.5rem;
  padding: 9% 0;
  text-align: center;
  width: 60%;
}


.about-container{
  background: #232323;
}
.about{
  color: #fff;
  margin: 0 auto;
  line-height: 3rem;
  font-size: 1.5rem;
  padding: 9% 0;
  text-align: center;
  width: 70%;

  h3{
    color: #fff;
  }

  p{
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    -ms-column-gap: 40px;
    -o-column-gap: 40px;
    column-gap: 40px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
  }
}




.portfolio{
  @extend .clearfix;
  padding-top: 7%;

  a{
    display: block;
    float: left;
    padding: 2% 4% 4%;
    text-decoration: none;
    text-align: center;
    width: 48.5%;
    @include transition(background);

    &:nth-of-type(2n + 1) {
      clear: both;
      margin-right: 2.5%;
      margin-bottom: 2%;
    }

    &:nth-of-type(1) {
      background: #f2783c;
    }
    &:nth-of-type(2) {
      background: #76aadb;
    }
    &:nth-of-type(3) {
      background: #0196d8;
    }
    &:nth-of-type(4) {
      background: #b11623;
    }
    &:nth-of-type(5) {
      background: #372f4a;
    }
    &:nth-of-type(6) {
      background: #6b3274;
    }

  }

  h4{
    color: #fff;
    margin-bottom: 6%;
  }

}

.browser{
  width: 100%;
  position: relative;

  &:before{
    background: #e8e8e8;
    border-bottom: 1px solid #dbd8d7;
    border-radius: 5px 5px 0 0;
    content: '';
    display: block;
    height: 34px;
    width: 100%;
  }

  img{
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,.15);
    border-radius: 0 0 5px 5px;
    height: auto;
    width: 100%;
  }

  .browser-buttons{
    background: #b3b3b3;
    border-radius: 50%;
    height: 7px;
    position: absolute;
    top: 15px;
    left: 30px;
    width: 7px;

    &:after, &:before{
      background: #b3b3b3;
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: 7px;
      width: 7px;
      position: absolute;
      left: -15px;
      top: 0px;
    }

    &:after{
      background: #b3b3b3;
      left: 15px;
    }
  }
}


footer{
  padding: 1% 0;
  text-align: center;

  a{
    color: lighten($secondary-color, 20%);
    text-decoration: none;
    padding: 0 10px;
    font-size: .75rem;
    text-transform: uppercase;
    @include transition();

    &:hover{
      @extend .blue;
    }
  }
}

@import "lib/media_queries";